# Performing various kinds of normalization on given data

In [94]:
# age = [13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70]
n = int(input('Enter the number of elements: '))

print('Enter the elements in comma separated manner: ')
elements = input()

a = map(float,elements.split(','))

a = list(a)
a

Enter the number of elements: 27
Enter the elements in comma separated manner:
13, 15, 16, 16, 19, 20, 20, 21, 22, 22, 25, 25, 25, 25, 30, 33, 33, 35, 35, 35, 35, 36, 40, 45, 46, 52, 70

[13.0,
 15.0,
 16.0,
 16.0,
 19.0,
 20.0,
 20.0,
 21.0,
 22.0,
 22.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 33.0,
 33.0,
 35.0,
 35.0,
 35.0,
 35.0,
 36.0,
 40.0,
 45.0,
 46.0,
 52.0,
 70.0]

**Min-Max Normalization**

In [95]:
def min_max_normalize(array,v,new_min,new_max):
    curr_min = min(array)
    curr_max = max(array)

    new_v = ((v - curr_min)/(curr_max-curr_min))*(new_max - new_min) + new_min

    return new_v

In [97]:
new_v = min_max_normalize(a,25,0,1)
print("v' = {0:.2f}".format(new_v))

v' = 0.21

**Z-score Normalization**

In [98]:
import numpy as np
def z_score_normalize(array,v):
    mean = np.mean(np.array(array))
    stdev = np.std(np.array(array))

    print("Mean = {}".format(mean))
    print("Standard Deviation = {}".format(stdev))
    new_v = (v - mean) / stdev

    return new_v

In [100]:
new_v = z_score_normalize(a,35)
print("v' = {0:.2f}".format(new_v))

Mean = 29.962962962962962
Standard Deviation = 12.700193878606099
v' = 0.40

**Decimal Scaling**

In [101]:
def decimal_scale(array,v):
    curr_min = min(array)
    curr_max = max(array)

    abs_max = int(max([abs(curr_min),abs(curr_max)]))
    j = 0;

    while abs_max != 0:
      j += 1
      abs_max = int(abs_max/10)
    
    print("J = {}".format(j))

    new_v = v/(10**j)

    return new_v

In [102]:
new_v = decimal_scale(a,35)
print("v' = {0:.2f}".format(new_v))

J = 2
v' = 0.35